.about {
  background: url('../../assets/about_background.png');
  background-size: cover;
  background-position: center center;
  border-top: 1px solid aqua;
  background-repeat: no-repeat;
  height: 56vw;
  width: 100vw;
  position: relative;
  min-height: 10em;
  .about-text {
    display: flex;
    font-size: clamp(6px, 2vw,31px);
    position: absolute;
    top: 13vw;
    left: 35vw;
    width: 50vw;
    text-align: center;
    color: #051726d4;
  }
}