.home {
  background: url("../../assets/casino.jpeg");
  background-size: cover;
  .button-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 99vh;
    width: 99vw;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
  video {
    position: absolute;
    top: 0;
    left: 0;

    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .video-wrapper {
    position: relative;
    height: 100vh;
    overflow: hidden;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}