.home {
  padding: 5rem;
  z-index: 0;
  height: 55vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .container {
    font-size: 22px;
    .content {
      display: flex;
      gap: 12rem;
      justify-content: space-evenly;
      flex-direction: row;
      .button-64{
        z-index: 6;
      }
      .video-64 {
        background-image: url('../../assets/casino.jpeg');
        background-size: cover;
        z-index: 0;
        position: absolute;
        top: 0;
        width: 98.8vw;
      }
    }
  }
}

@media screen and (min-width: 280px) and (max-width: 1080px) {
  .home {
    padding: 1rem;
    position: relative;
    overflow-x: hidden;
    height: 55vw;
    .container {
      font-size: 16px;
      grid-template-columns: 0.7fr;
      .content{
        display: flex;
        gap: 2rem;
        align-items: center;
        flex-direction: column;
        .video-64 {
          width: 98.5vw;
        }
      }
    }
  }
}