.road-map {
  margin: 0;
  background-image: url("../../assets/start_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .road-map-title {
      font-size: 3vw;
      padding-top: 4vw;
      color: aqua;
      margin-bottom: 10vw;
  }
  .road-map-content {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    gap: 4vw;
    padding: 4vw;
    .circle-container {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: flex-start;
      flex-wrap: wrap;
      opacity: 0.3;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
      .circle-svg {
        width: 18vw;
      }
      .circle-number {
        position: absolute;
        font-size: 3vw;
        color: white;
      }
    }
    .road-map-text {
      color: white;
      opacity: 1;
      font-size: 1.7vw;
    }
  }
}
.popover-header {
  background-color: #b400ff!important;
  border-bottom: 1px solid rgb(90 23 73 / 74%);
  border-top-left-radius: calc(.3rem - 1px);
  border-top-right-radius: calc(.3rem - 1px);
  font-size: 1rem;
  margin-bottom: 0;
  font-family: audiowide, serif;
  padding: .5rem 1rem;
}

@media screen and (max-width: 800px) {
  .road-map .road-map-content {
    display: grid;
    gap: 4vw;
    padding: 4vw;
    grid-template-columns: 1fr;
  }
  .circle-svg {
    width: 10rem!important;
  }

}

@media screen and (max-width: 500px) {
  .circle-svg {
    width: 11rem!important;
  }
  .road-map .road-map-content .circle-container .circle-number {
    position: absolute;
    font-size: 1rem;
    color: white;
  }
}