.vote {
  text-align: center;
  background-image: url("../../assets/vote-back.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  max-height: 105rem;
  min-height: 100%;
  overflow: hidden;
  .vote-title {
    font-size: 3vw;
    padding-top: 3vw;
    color: aqua;
    margin-bottom: 10vw;
  }
  .vote-frate {
    width: 30vw;
    position: relative;
    left: -25vw;
    top: -9vw;
  }
  .vote-text {
    width: 39vw;
    position: absolute;
    left: 5vw;
    top: 7vw;
    color: white;
    font-size: 1vw;
    padding: 7vw;
  }
}

@media screen and (max-width: 940px) {
  .vote {
    text-align: center;
    background-image: url("../../assets/vote-back.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    max-height: 105rem;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
  }
  .vote-frame {
    position: relative;
  }
  .vote .vote-frate {
    width: 400px;
    position: relative;
    top: 0;
    left: 0;
  }
  .vote .vote-text {
    width: 24rem;
    position: absolute;
    top: 7vw;
    color: white;
    left: 0;
    font-size: 0.9rem;
    padding: 1em;
  }
}

@media screen and (max-width: 600px) {
  .vote .vote-text {
    width: 24rem;
    position: absolute;
    top: 9vw;
    color: white;
    left: 0;
    font-size: 0.9rem;
    padding: 1em;
  }
}

@media screen and (max-width: 550px) {
  .vote .vote-text {
    width: 24rem;
    position: absolute;
    top: 11vw;
    color: white;
    left: 0;
    font-size: 0.9rem;
    padding: 1em;
  }
}



@media screen and (max-width: 400px) {
  .vote-frame {
    transform: scale(0.9);
  }

}