.whitepaper {
  display: flex;
  justify-content: center;
  background-image: url('../../assets/start_background.png');
  align-items: center;
  flex-direction: column;
  height: 100vh;
  .document-pdf {
    position: absolute;
    top: 3vw;
  }
  .document-pages {
    position: absolute;
    bottom: 1vw;
  }
  .react-pdf__Page__canvas {
    display: block;
    user-select: none;
    max-width: 96vw!important;
    height: auto!important;
  }
  .react-pdf__Page__textContent {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0!important;
    height: 842.25px;
    color: transparent;
    transform: translate(-50%, -50%) rotate(0deg);
    pointer-events: none;
  }
}